RewriteEngine On
RewriteRule ^admin$ admin.php [L]

RewriteRule ^list(/([0-9]{4}-[0-9]{2}-[0-9]{2}))?$ api.php?type=list&date=$2 [L,QSA]
RewriteRule ^exam-list(/([0-9]{4}-[0-9]{2}-[0-9]{2}))?$ api.php?type=exam-list&date=$2 [L,QSA]
